.idea/

###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/bin/*
!/bin/console
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###

###> bmitch/churn-php ###
/.churn.cache
###< bmitch/churn-php ###

###> phpdocumentor/phpdocumentor ###
/.phpdoc/
/public/docs/
###< phpdocumentor/phpdocumentor ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.dist.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
