## see https://phpstan.org/config-reference

parameters:
    phpVersion: 80000 # PHP 8.0
    level: max
    paths:
        - src
        - tests
    excludes_analyse:
        - tests/bootstrap.php
    #checkMissingIterableValueType: false
    #checkGenericClassInNonGenericObjectType: false
    #inferPrivatePropertyTypeFromConstructor: true
    #ignoreErrors:
    #    -
    #        message: "#^Class App\\\\Shared\\\\Infrastructure\\\\Repository\\\\Doctrine\\\\BaseEntityRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
    #        count: 1
    #        path: src/Shared/Infrastructure/Repository/Doctrine/BaseEntityRepository.php
